#!/usr/bin/env bash

if [[ "$HOSTNAME" == *"bench"* ]]; then
    export PATH=~/yk/bin:${PATH}
else
	echo "unexpected host!"
	exit 1
    export PATH=/home/pd/git-repos/research/demo/yk-fork/bin:${PATH}
fi

export YK_BUILD_TYPE=release
export YKB_TRACER=swt

